
html, body {
  height: 100%;
  margin: 0;
}

.map-wrapper {
  margin-top: 80px;
  height:93vh;
   margin-left: 320px;
}



#addToiletForm {
  display: none;
}


#toggleForm:checked + #addToiletForm {
  display: block;
}

#sidePanel {
  position: fixed;   /* make it stay on left */
  top: 80px;         /* below navbar */
  left: 0;
  width: 300px;
  height: calc(100vh - 90px);
  padding: 15px;
  background: #fff;
  overflow-y: auto;  /* scroll if content is long */
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  z-index: 1000;
  left: -400px; /* Hidden outside the screen */
  transition: right 0.3s ease; 
}



#emergencyBtn {
  font-size: 15px;
  font-weight: bold;
}


footer a {
  text-decoration: none;
}
  

#map {
  height: 100vh;
  width: 100%;
 
}

.open-btn {
  position: fixed;
  left: 16px;
  top: 85px;

  z-index: 1001;
  padding: 7px 12px;
  background-color: #772f21;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 8px;
  left: 270px;
  font-size: 25px;
  border: none;
  background: none;
  cursor: pointer;
}

#sidePanel.open {
  left: 0;
}

#sidePanel select,
#sidePanel button[type="submit"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}
#sidePanel button[type="submit"] {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

footer h5 {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
footer h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;          /* line length */
  height: 3px;          /* line thickness */
  background-color: #28a745; /* bootstrap green */
  border-radius: 2px;
}


#map {
  position: relative;
  z-index: 1;
}

.modal {
  z-index: 1055 !important;
}

.modal-backdrop {
  z-index: 1050 !important;
  background-color: rgba(0,0,0,0.2); /* map दिसेल */
}
