body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 15px;
}

h2 {
    text-align: center;
}

/* Buttons */
button {
    padding: 10px 15px;
    background: #1e90ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#nearbyBtn {
    display: block;
    margin: 50px auto;
}

/* Map */
#map {
    height: 300px;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    width: 95%;
    max-width: 450px;
    padding: 15px;
    border-radius: 8px;
    max-height: 80vh;
    overflow-y: auto;
}

.close {
    float: right;
    font-size: 18px;
    cursor: pointer;
}

.hospital-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
}

.actions a {
    margin-right: 10px;
    text-decoration: none;
    color: #1e90ff;
    font-weight: bold;
}